
@{
    var urlReferrer = Request.UrlReferrer;
}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2">
    <link rel="shortcut icon"
          href="https://res.cloudinary.com/upcbinary/image/upload/v1674168250/ExploraUPN/icons/favicon_nuikwz.ico"
          type="image/vnd.microsoft.icon">
    <title>Contacto UPN – Página no encontrada</title>
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #F8F8F8;
        }

        .navigation-wrapper {
            max-inline-size: 1280px;
            margin: auto;
        }

        .logo-container {
            padding: 20px 80px;
        }

            .logo-container a {
                display: flex;
                gap: 24px;
                cursor: pointer;
                color: black;
                text-decoration: none;
            }

                .logo-container a img {
                    vertical-align: middle;
                    width: 130px;
                    vertical-align: center;
                }

        .title {
            display: flex;
            align-items: center;
            border-inline-start: 1px solid black;
            padding-inline-start: 24px;
            block-size: 77px;
            font-family: "SharpGrotesk-SemiBold15";
            font-size: 20px;
        }

        .container {
            display: flex;
            gap: 160px;
            justify-content: center;
            align-items: center;
            /* border: 1px solid red; */
            block-size: 80%;
        }

        .message-container {
            display: flex;
            gap: 24px;
            flex-direction: column;
            justify-content: center;
            /* border: 5px solid green; */
            max-inline-size: 400px;
        }

        .message-title {
            font-family: "SharpGrotesk-Bold";
            font-size: 64px;
            line-height: 64px;
        }

        .message-description {
            font-family: "Telegraph-Regular";
            font-size: 36px;
            line-height: 38px;
            inline-size: 470px;
        }

        .icon-404 {
            inline-size: 250px;
            block-size: 250px;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Telegraph-UltraBold";
            font-size: 16px;
            line-height: 24px;
            color: white;
            background-color: black;
            inline-size: 184px;
            block-size: 48px;
            text-align: center;
            margin-block-start: 16px;
        }

        @*@media only screen and (max-width: 1024px) {*@
            .logo-container {
                padding: 20px 24px;
            }

                .logo-container a {
                    gap: 8px;
                }

                    .logo-container a img {
                        width: 78px;
                    }

            .title {
                block-size: 50px;
                padding-inline-start: 8px;
            }

                .title h2 {
                    font-size: 16px;
                }

            .container {
                flex-direction: column-reverse;
                gap: 40px;
                block-size: auto;
                margin-block-start: 60px;
            }

            .message-container p {
                display: block;
                text-align: center;
            }

            .message-container a {
                margin: auto;
            }

            .message-title {
                font-size: 40px;
            }

            .message-description {
                font-size: 20px;
                line-height: 24px;
                inline-size: 300px;
                margin-block-end: 24px;
            }

            .icon-404 {
                inline-size: 180px;
                block-size: 180px;
            }

    </style>
</head>

<body>
    <header>
        <div id="navigation-wrapper" class="navigation-wrapper">
            <div class="navigation">
                <div class="logo-container">
                    <a href="/">
                        <img src="https://res.cloudinary.com/upcbinary/image/upload/v1673884859/ExploraUPN/icons/logo-upn_dd8rsz.svg"
                             alt="Logo UPN" width="130" />
                        <div class="title">
                            <h2>CONTACTO MADERERA</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="message-container">
            <p class="message-title">LO SENTIMOS...</p>
            <p class="message-description">No pudimos encontrar lo que estás buscando.</p>
            <div class=" alert alert-info">@TempData["error"]</div>
            @if (urlReferrer != null)
            {
                <button class="btn btn-group-lg" onclick="location.href='@urlReferrer'">
                    <i class="bi bi-arrow-left"></i> Volver
                </button>
            }
        </div>
        <img class="icon-404"
             src="https://res.cloudinary.com/upcbinary/image/upload/v1675972562/ExploraUPN/icons/Icon404_q10ayb.svg"
             alt="Imagen 404" />
    </div>
</body>

</html>