
@{
    ViewBag.Title = "SinPermisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>@ViewBag.Message</h2></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

